<?xml version="1.0" encoding="UTF-8"?>
<!-- Note: Eclipse will flag this file with a warning: "No grammar constraints (DTD or XML Schema)
    referenced in the document." This is due to a known issue in Log4j2, reported in 2013 and 
    unresolved as of this date. For background and workarounds, see: 
	https://stackoverflow.com/questions/13904481/in-log4j2-how-do-i-associate-an-xml-schema-with-log4j2-xml 
	https://issues.apache.org/jira/browse/LOG4J2-170 -->
<Configuration status="INFO">
	<Appenders>
		<Console name="ConsoleAppender" target="SYSTEM_OUT">
			<PatternLayout
				pattern="%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36}: %msg%n" />
		</Console>
		<File name="FileAppender"
			fileName="CustomerWeb-${date:yyyyMMdd}.log" immediateFlush="true"
			append="true">
			<PatternLayout
				pattern="%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36}: %msg%n" />
		</File>
	</Appenders>
	<Loggers>
		<Root level="debug">
			<AppenderRef ref="ConsoleAppender" />
			<AppenderRef ref="FileAppender" />
		</Root>
	</Loggers>
</Configuration>